body{
    border: 2px solid black;
}
.userlist{
    position: absolute;
    top: 5rem;
    right: 0rem;
 /* border: 2px solid blue;  */
     width: 70%;
    height: 90%;
    padding: auto;
    box-sizing: border-box;
} 
button{
    background-color: rgb(75, 15, 224);
    color: rgb(235, 226, 226);
    margin-top: 5px;
    padding: auto;
    border-radius: 5px;
    width: 17%;
    height: 9%;
    font-size: 14px;
    font-weight: bold;
}