<div style="width: 30%; height: auto; margin-top: -0.9rem; margin-left: 0px;"
  class="shadow-lg p-3 mb-5 bg-body-tertiary rounded container-fluid">
 
  <div >
    <div class="list-group list-group-flush mx-3 mt-4">
      <a style="border-radius: 5px;" routerLink="dashboard" class="list-group-item list-group-item-action py-2 ripple active"
        aria-current="true">
        <i class="fas fa-solid fa-house me-3"></i><span>Dashboard</span>
      </a>
      <a routerLink="leaveform" class="list-group-item list-group-item-action py-2 ripple ">
        <i class="fas fa-solid fa-pencil me-3"></i> <span>Apply Leave</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-user me-3"></i><span>My Leave List</span></a>
      <a  routerLink="leavelist" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-list me-3"></i><span>Leave Listing</span></a>
      <a routerLink="task" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-tasks me-3"></i><span>Add
          Task</span></a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-chart-line fa-fw me-3"></i><span>My Task Listing</span></a>
      <a routerLink="tasklisting" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-solid fa-bars me-3"></i><span>All Task Listing</span>
      </a>
      <a routerLink="formcom" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-user-plus me-3"></i><span>Add User</span></a>
      <a routerLink="userlist" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-globe fa-fw me-3"></i><span>User Listing</span></a>
      <a routerLink="addrole" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-lock me-3"></i><span>Add Role</span></a>
      <a routerLink="role" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-calendar fa-fw me-3"></i><span>Role Listing</span></a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-users fa-fw me-3"></i><span>My Control</span></a>
          
    </div>
    
  </div>



</div>