<div style="width:68%; height: 27%; position: absolute; top: 3.5rem; right: 0.5rem;" class="shadow p-3 mb-5 bg-white rounded btn1 ">

    <button  class="btn btn-primary btn-lg active btn2 " role="button" aria-pressed="true"
     (click)="myFun()" >Leave Manager</button>
    <button  class="btn btn-primary btn-lg active btn2 " role="button" aria-pressed="true">Employee Manager</button>

    <button  class="btn btn-primary btn-lg active btn2 " role="button" aria-pressed="true">Role Manager</button>

    <button  class="btn btn-primary btn-lg active btn2 " role="button" aria-pressed="true">Task manager</button>



</div>
<div style="width:68%; height: 64%; position: absolute; top: 13.5rem; right: 0.5rem;" class="shadow p-3 mb-5 bg-white rounded btn1 "><h3 style="position: absolute; top: 1%;
left: 3%;">Recent Updates</h3>

    <div [style.display]="tem" style="width: 94%;height: 30%;
    position: absolute; top: 12%; left: 3%; border: 2px solid black;" class="shadow p-3 mb-5 bg-white rounded"><h1>Regular</h1></div>


</div>




